@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

.container1 {
  max-width: 750px;
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Fruktur', cursive;
}

.bd {
  margin-top: 0;
}

.slider {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -2;
  background-color: rgb(224, 219, 222);
  width: 100%;
  height: 100%;
  position: fixed;
  list-style: none;
}

.slider li {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  animation: slide 36s linear infinite 0s;
}

.slider li:nth-child(1) {
  background-image: url(https://ratatum.com/wp-content/uploads/2018/05/Moscow_Metro_HDR1.jpg);
}

.slider li:nth-child(2) {
  background-image: url(https://pbs.twimg.com/media/EAxoCB8WkAIgH_U.jpg:large);
  animation-delay: 6s;
}

.slider li:nth-child(3) {
  background-image: url(https://www.wallpapertip.com/wmimgs/10-105385_rust-hd-backgrounds.jpg);
  animation-delay: 12s;
}

.slider li:nth-child(4) {
  background-image: url(https://hdwallpaperim.com/wp-content/uploads/2017/08/23/471321-winter-road-landscape-nature.jpg);
  animation-delay: 18s;
}

.slider li:nth-child(5) {
  background-image: url(https://kartinkin.net/uploads/posts/2021-07/1625796080_28-kartinkin-com-p-krasivie-atmosfernie-oboi-krasivie-32.jpg);
  animation-delay: 24s;
}

.slider li:nth-child(6) {
  background-image: url(https://phonoteka.org/uploads/posts/2021-03/1616648000_59-p-epichnii-fon-62.jpg);
  animation-delay: 30s;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  14% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.snow-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#snow {
  width: 100%;
  height: 100%;
  background-image: url('/pics/snow/snow_1.png'), url('/pics/snow/snow_2.png'), url(/pics/snow/snow_3.png);
  animation: snow 20s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

header {
  position: relative;
  width: 70%;
  margin: auto;
  background-color: rgb(241, 226, 155);
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 40px;
  font-family: 'Fruktur', cursive;
  box-shadow: 3px 3px 3px rgba(17, 17, 17, 0.24);
}

.pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  border: 2px solid black;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgba(17, 17, 17, 0.24);
}

.hat h2 {
  text-align: center;
  font-family: inherit;
  margin-top: 0;
  padding-top: 8px;
}
.hat ul {
  position: absolute;
  top: 0%;
  right: 5%;
  color: #111;
  text-decoration: none;
  text-align: right;
  margin-top: 5px;
  font-style: oblique;
}
.hat li:nth-child(1) {
  list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAABOElEQVQ4ja3TzSqFYRAH8N+xODtHsWCBFScfxRXIHfjauAIbZUmydANuAEWyIJESa2sLhCNEyVdKuQEfi2eO3k4OC6am3pl55z///zzPwx8tVyXfhUEUI77AFkq/AdZhFe94wE74Q+RWUPip+Rh3GKhgl8MQ7nFUDWQ1mpt/YNgSIMtZZJLmk5hSgzO8oh83OJD20R3/b0TPeRloJpBzuMY+mvCBNeRxir0Y8IhpEUBb6P/AOvrQGLU8ZtGOKWmZRxF/2SJ247sBz7gNwLIfZgbuYSHL4Aq9IeEFo6iP2ibG0YPJ6OnFZZZBZ1AbyuSKmMNYxBOYxwje0KHCVqRFtlQWMtYqXaql74oFaTn3GM7IK0sdieZD1FabUJAuybt0VLvhT0F7qbK52mPqkB5TWWcJ2zIX59/sE4UzSXasL6ohAAAAAElFTkSuQmCC);
}
.hat li:nth-child(2) {
  list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAA7klEQVQ4jc3SvUoEUQwF4A+12H0FcXuxFgQXH8OfShY7n8PSyhWbwUKw80HstNBda/UltJhxLG5kLtdZCxsNBObkJjknk/Df7Ahz1GgLr+NtkhesFMUVLnCCpmi+jG1cBr4q2ec4y/AQ4/AhNvGAKWZ98mvsx/cWXjL5z9iJJgeRC5YKiR/BdhMso/AnXEesidxv1mI3JLdYy95GERtHTtun4FfW1+Bemr/SjVBJ/+HupwZN4DfsYQOv4esRe5fmL1eMtMZphge6NQ6y+Dkev0B+SKe6I7ktWFaDeYxj6eh6bSKtatEpz3C4qPhv7BN8/j77m2rzpAAAAABJRU5ErkJggg==);
}

a {
  color: #111;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: blue;
}

.avatar {
  height: 250px;
  width: 200px;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 5px 5px 4px rgba(104, 0, 0, 0.3);
  margin-left: 7px;
}

.avatar:nth-child(2) {
  margin-right: 10px;
}

.info {
  display: flex;
  margin-bottom: 25px;
}

.info-text {
  margin: 0;
  margin-left: 10px;
}

.info-text h2 {
  margin-bottom: 10px;
}

.info-text h4 {
  text-decoration: underline;
  text-decoration-color: rgb(228, 18, 18);
  margin-bottom: 10px;
}

.info-text p {
  margin: 0;
  color: #6e6c6c;
}

.info-text a {
  color: rgb(228, 18, 18);
}

@keyframes run {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    transform: translate(150%) scale(0.5) rotate(360deg);
    border-radius: 3px;
  }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%;
  }
  75% {
    transform: translate(0%, 150%) scale(0.5) rotate(-360deg);
    border-radius: 3px;
  }
}

.carouselo {
  position: absolute;
  left: 15.5%;
  top: 10%;
}

.carous {
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: inset -2px -2px 4px rgba(39, 38, 38, 0.404);
  animation: run 2s ease-in-out infinite;
}

.one-carousel {
  background-color: rgb(206, 33, 33);
  animation-delay: 1.5s;
}
.two-carousel {
  background-color: chocolate;
  animation-delay: 1s;
}

.three-carousel {
  background-color: rgb(116, 156, 230);
  animation-delay: 0.5s;
}

.four-carousel {
  background-color: rgb(20, 13, 58);
}

.metro-station {
  margin-bottom: 25px;
}

.metro-station h2 {
  text-align: center;
}

.first-cards,
.second-cards {
  display: flex;
  justify-content: center;
}

.card {
  margin: 10px;
  background: rgb(233, 159, 22);
  border: green 0.1 solid;
}

.hobbi {
  background-color: rgb(228, 228, 143);
  box-sizing: border-box;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 3px rgba(17, 17, 17, 0.24);
}

.hobbi h2 {
  margin-bottom: 10px;
}

.hobbi ul {
  padding-left: 20px;
  margin: 0;
}

.hobbi li {
  padding-bottom: 10px;
  list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAABmJLR0QA/wD/AP+gvaeTAAAAw0lEQVQYlZXQvUoCcBQF8N/fDyIwMNGhRXIoHSKHxnqDXqDJwV5AImpw6BF8A1vCBxB7jbYgaLIxAoXAzXK5QkgZ3uVyv84957BBZNfMTjHH53/LV9hGA0+/LedRwDEyGGAPh3gVTdjHDS7QxQQ5POJgiZYitzDENOoTnAVYE9f4gCLu8IDaCvcyLmNWTrhFL47OUcEs9EwxCkc6OXwHnXfc/+HOFlJCCW184RnjELiLKo6Cez/9uE6ohzM78foNLwFkAc6fIIOnWwAYAAAAAElFTkSuQmCC);
}

.carousel1 {
  margin-bottom: 50px;
}

.evolution {
  background-color: rgb(43, 172, 107);
  border-radius: 25px;
}

.evolution h2 {
  margin-left: 20px;
}

.ttable {
  padding: 20px;
  background-color: thistle;
  box-sizing: border-box;
  border-radius: 40px;
  margin-bottom: 150px;
  box-shadow: 3px 3px 3px rgba(17, 17, 17, 0.24);
}

.ttable td {
  padding: 0px 5px 10px 0px;
  text-align: center;
  border-bottom: 2px solid rgb(165, 162, 162);
}

.ttable th {
  text-decoration: line-through;
}

.ttable td:nth-child(3) {
  color: rgb(228, 18, 18);
}

.asscar {
  width: 100%;
  margin-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  cursor: grab;
}

.assÑarv {
  transition: all 1s ease-in-out;
}

.asscarpic {
  padding: 50px;
}

.asscar1:hover {
  transform: scale(1.5, 1.5) rotate(720deg);
}

.asscar2:hover {
  transform: translate(20px, 15px) skew(-20deg, -20deg);
}

.asscar3:hover {
  transform: translate(-15px, -30px) scale(-1, -1);
}

.asscar4:hover {
  transform: translate(50px, 0px) rotate(360deg);
}

.asscar5:hover {
  transform: translate(50px, 0px) rotate(-360deg);
}

.asscar6:hover {
  transform: translate(50px, 25px) scale(0.4, 0.4);
}

.asscar7:hover {
  transform: scale(1.4, 0.8) translate(0px, 20px);
}

.asscar8:hover {
  transform: skew(20deg, 20deg) scale(-1, 0);
}

.assist {
  position: absolute;
  top: 10%;
  right: 17%;
}

.accordion-button:not(.collapsed) {
  background-color: rgb(20, 13, 58);
}

.accordion-button {
  background-color: rgb(20, 13, 58);
  color: #0c63e4;
}

.accordion-body {
  background-color: rgb(24, 4, 114);
}

.accordion-body a {
  color: rgb(216, 4, 4);
}

/* .assist { 
  position: absolute;
  top: 10%;
  right: 15%;
  padding: 0px 20px 0px 20px;
  background-color: rgb(20, 13, 58);
  box-sizing: border-box;
  border-radius: 40px;
  color: rgb(238, 40, 34);
  box-shadow: 3px 3px 3px rgba(17, 17, 17, 0.24);
}

.assist ul {
  padding-left: 10px;
  list-style: none;
}

.assist li {
  padding-bottom: 10px;
}

.assist a {
  color: rgb(238, 40, 34);
}*/

.picass {
  box-sizing: border-box;
  position: fixed;
  left: 20%;
  bottom: 0%;
  background-color: rgb(20, 13, 58);
  border-radius: 25px 25px 0px 0px;
  box-shadow: 3px 3px 3px rgba(17, 17, 17, 0.24);
}

.picass img {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid rgb(238, 40, 34);
}

.picass ul {
  list-style: none;
  padding: 0px 2px 0px 2px;
}

.spec {
  padding: 20px;
  background-color: rgb(126, 62, 46);
  box-sizing: border-box;
  border-radius: 40px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 3px rgba(17, 17, 17, 0.24);
  margin-bottom: 100px;
}

.spec ul {
  list-style: none;
  padding: 0px;
}

.spec li {
  padding: 0px 0px 10px 0px;
}

.spec a {
  text-decoration: underline;
  text-decoration-color: red;
  color: violet;
}

@keyframes legion {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(-135deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-225deg);
    opacity: 0;
  }
}

@keyframes friend-1 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-100px, 0);
    border-color: rgb(236, 10, 10);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes friend-2 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(100px, 0);
    border-color: rgb(23, 238, 41);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes friend-3 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, -100px);
    border-color: rgba(56, 3, 204, 0.836);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes friend-4 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, 100px);
    border-color: rgb(196, 94, 26);
  }
  100% {
    transform: translate(0);
  }
}

.f-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  animation: legion 2s ease-in-out infinite alternate;
  padding: 100px;
}

.f-box img {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 4px solid black;
  position: absolute;
}

.f-box img:nth-child(1) {
  animation: friend-1 2s ease-in-out infinite;
}
.f-box img:nth-child(2) {
  animation: friend-2 2s ease-in-out infinite;
}
.f-box img:nth-child(3) {
  animation: friend-3 2s ease-in-out infinite;
}
.f-box img:nth-child(4) {
  animation: friend-4 2s ease-in-out infinite;
}

@keyframes alli-1 {
  50% {
    transform: scale(1.2, 1.2) translate(0, -20px);
  }
  to {
    transform: scale(1, 0.8) translate(0, 30px);
  }
}

@keyframes alli-2 {
  to {
    transform: scale(1.4, 1.4) translate(0, -40px);
  }
}

@keyframes alli-3 {
  to {
    transform: scale(1.2, 0.8) translate(0, 40px);
  }
}

@keyframes move-1 {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}

@keyframes move-2 {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}

@keyframes move-3 {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}

.allies {
  position: relative;
}

.allien {
  display: flex;
  justify-content: space-around;
}

.allies img {
  padding: 150px 0px 0px 0px;
}

.first-allien {
  animation: alli-1 4s ease-in-out infinite alternate;
}
.second-allien {
  animation: alli-2 2.5s ease-in-out infinite alternate;
}

.third-allien {
  animation: alli-3 2s ease-in-out infinite alternate;
}

.allies-attack {
  display: flex;
  justify-content: space-around;
}

.attack {
  width: 100px;
  height: 200px;
  position: relative;
}

.first-attack i {
  width: 10px;
  height: 10px;
  background-color: rgb(170, 77, 54);
  border-radius: 50%;
  position: absolute;
  left: 46%;
  animation: move-1 2s ease-out infinite;
}

.second-attack i {
  width: 5px;
  height: 5px;
  background-color: rgb(202, 202, 38);
  border-radius: 50%;
  position: absolute;
  left: 47%;
  animation: move-2 2.5s ease-out infinite;
}

.third-attack i {
  width: 7px;
  height: 7px;
  background-color: rgb(1, 112, 1);
  position: absolute;
  left: 73%;
  border-radius: 50%;
  animation: move-3 2.5s ease-out infinite;
}

.attack i:nth-child(1) {
  animation-delay: 0.1s;
}
.attack i:nth-child(2) {
  animation-delay: 0.2s;
}
.attack i:nth-child(3) {
  animation-delay: 0.3s;
}
.attack i:nth-child(4) {
  animation-delay: 0.4s;
}
.attack i:nth-child(5) {
  animation-delay: 0.5s;
}
.attack i:nth-child(6) {
  animation-delay: 0.6s;
}
.attack i:nth-child(7) {
  animation-delay: 0.65s;
}
.attack i:nth-child(8) {
  animation-delay: 0.7s;
}
.attack i:nth-child(9) {
  animation-delay: 0.75s;
}
.attack i:nth-child(10) {
  animation-delay: 0.8s;
}
.attack i:nth-child(11) {
  animation-delay: 0.85s;
}
.attack i:nth-child(12) {
  animation-delay: 0.9s;
}
.attack i:nth-child(13) {
  animation-delay: 0.95s;
}
.attack i:nth-child(14) {
  animation-delay: 1s;
}
.attack i:nth-child(15) {
  animation-delay: 1.05s;
}
.attack i:nth-child(16) {
  animation-delay: 1.1;
}
.attack i:nth-child(17) {
  animation-delay: 1.15;
}
.attack i:nth-child(18) {
  animation-delay: 1.2;
}
.attack i:nth-child(19) {
  animation-delay: 1.25;
}
.attack i:nth-child(20) {
  animation-delay: 1.3;
}
.attack i:nth-child(21) {
  animation-delay: 1.35;
}
.attack i:nth-child(22) {
  animation-delay: 1.4;
}

.enemy img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imgliza {
  border-radius: 15px 0px 0px 15px;
}

.imgvika {
  border-radius: 0px 15px 0px 0px;
}

.imganna {
  border-radius: 0px 0px 15px 0px;
}

.dan h5 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.pcheckbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid rgb(238, 40, 34);
}

.pcheckbox p {
  margin: 0px 0px 5px 0px;
  padding: 10px 45px 10px 45px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgb(209, 52, 52);
}

.pcheckbox p:hover {
  background-color: indigo;
}

.pcheckbox p:hover {
  text-decoration: line-through;
  text-decoration-color: rgb(202, 26, 20);
}

.h2en {
  grid-area: h2en;
  text-align: center;
}

.liza {
  grid-area: liza;
}

.dasha {
  grid-area: dasha;
}

.vika {
  grid-area: vika;
}

.lera {
  grid-area: lera;
}

.anna {
  grid-area: anna;
}

.dan {
  grid-area: dan;
}

.enemy {
  display: grid;
  grid-template-areas:
    'h2en h2en h2en'
    'liza dasha vika'
    'liza lera anna'
    'dan dan dan';
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5px;
  margin-bottom: 60px;
  padding-bottom: 40px;
  border-radius: 40px;
  background-color: rgb(160, 218, 196);
  box-shadow: 4px 4px 4px rgba(17, 17, 17, 0.24);
}

.call h2 {
  text-align: center;
}

.row1 {
  display: flex;
  margin-bottom: 20px;
}

.inp label {
  display: block;
  margin-bottom: 10px;
  color: #6e6c6c;
  font-size: 14px;
}

.inp input,
.inp textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  color: red;
  box-shadow: 0px 3px 3px rgba(17, 17, 17, 0.24);
  padding: 15px 0px 10px;
}

.row1 > .inp {
  width: 50%;
}

.inp:first-child {
  margin-right: 10px;
}

.btn {
  background-color: rgb(20, 13, 58);
  padding: 10px;
  color: #ccc;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(1, 1, 1, 0.25);
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 25px;
}

.btn:hover {
  opacity: 0.9;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.foot {
  width: 100%;
  text-align: center;
  font-family: 'Fruktur', cursive;
  background-color: rgb(248, 138, 134);
  box-sizing: border-box;
  border-radius: 25px 25px 0 0;
}

.foot p {
  margin-bottom: 0px;
}

.face {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 17.2%;
  top: 33.5%;
  box-sizing: border-box;
  border-radius: 15px;
}

.triangle_modal {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  right: 19.5%;
  top: 38%;
  box-sizing: border-box;
  cursor: pointer;
}

.triangle {
  margin-right: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent transparent;
  margin: auto;
  margin-top: 13px;
}

.triangle:hover {
  border-color: transparent transparent transparent var(--bs-white);
  transition: all ease 0.4s;
}

.list-group {
  position: fixed;
  left: 0%;
  top: 1%;
}

.list-group:hover {
  background-color: rgba(61, 48, 48, 0.767);
}

.list-group-item {
  margin: 15px;
  font-weight: 500;
  background: 0;
  border: none;
}

.list-group-item:hover {
  background-color: rgba(51, 41, 41, 0.767);
  color: aqua;
  border-radius: 20px;
  transform: translateX(10px);
  transition: all ease-in-out 0.3s;
}

.leftmenubtn {
  position: fixed;
  top: 1%;
  left: 1%;
  display: none;
  background: 0;
  box-shadow: none;
}

.leftmenubtn:hover {
  background: 0;
}

.leftmenu {
  position: absolute;
  left: 0%;
  top: 0%;
}

.leftmenubody {
  padding: 0;
}

@media (max-width: 1750px) {
  .assist {
    display: none;
  }
  .picass {
    display: none;
  }
  .face {
    display: none;
  }
  .asscar {
    display: block;
    text-align: center;
  }
  .list-group {
    display: none;
  }
  .leftmenubtn {
    display: block;
  }
}

@media (max-width: 850px) {
  .hat {
    display: none;
  }
  .info {
    display: block;
    text-align: center;
  }
}
